.head{
  height: 50px;
  width: 300px;
  font-weight: 800;
  font-size: xx-large;
}

.background {
  position: relative; 
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}


.loader {
  width: 50px;
  height: 50px;
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


.loader-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 5px;
  background-color: #00FFFF;
  width: 0;
  z-index: 9999;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.8), 0 0 30px rgba(0, 255, 255, 0.7); 
  animation: neonGlow 1.5s ease-in-out infinite alternate;
}

@keyframes neonGlow {
  0% {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), 0 0 20px rgba(0, 255, 255, 0.5); 
    transform: scaleX(1);
  }
  100% {
    box-shadow: 0 0 20px rgba(0, 255, 255, 1), 0 0 40px rgba(0, 255, 255, 1);
    transform: scaleX(1.05);
  }
}

.scroll-container {
  height: 100vh; 
}

.glow-quarter {
  position: absolute;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle at 50% 50%, 
    rgba(59, 130, 246, 0.7), 
    transparent 60%
  );
  clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 50% 100%, 0% 50%);
  transform: translate(-25%, -25%);
  animation: rotateGlow 10s forwards ;
}

.glow-inner {
  position: absolute;
  width: 200%;
  height: 200%;
  background: radial-gradient(
    circle at 50% 50%, 
    rgba(59, 130, 246, 0.7), 
    transparent 60%
  );
  clip-path: polygon(0% 50%, 50% 100%, 100% 50%, 100% 100%, 0% 100%);
  transform: translate(-25%, -25%);
  animation: rotateGlowReverse 10s forwards;
}

@keyframes rotateGlow {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(355deg);
    background-color: #010102;
  }
}

@keyframes rotateGlowReverse {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(10deg);
    background-color: #010102;
  }
}

:root{
  overflow-x: hidden;
}
