@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #010102;
  border-radius: 8px;
  transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #29296b, #4a4a9d);
}

::-webkit-scrollbar-track {
  background: #ececec;
  height: 90%;
}

::-webkit-scrollbar-corner {
  background: transparent;
}


